/* styleguide for testimonials grid page */

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;500;600&display=swap');

/* css reset */

/* boilerplate stuff */
*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 5px;
}

/* root variables */
:root {
  /* font-weight */
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /* colorschema */
  --clr-primary-violet: hsl(263, 55%, 52%);
  --clr-primary-greyblue: hsl(217, 19%, 35%);
  --clr-primary-blackblue: hsl(219, 29%, 14%);
  --clr-primary-white: hsl(0, 0%, 100%);
  --clr-primary-white-50: hsla(0, 0%, 100%, 0.500);
  --clr-primary-white-70: hsla(0, 0%, 100%, 0.700);
  --clr-primary-blackblue-50: hsl(219, 29%, 14%, 0.500);
  --clr-primary-blackblue-70: hsl(219, 29%, 14%, 0.700);
  --clr-neutral-gray: hsl(0, 0%, 81%);
  --clr-neutral-grayblue: hsl(210, 46%, 95%);
  --clr-accent-violet: hsl(264, 82%, 70%, 100%);

  /* viewport sizes */
  --max-width-screen: 1440px;
  --min-width-screen: 376px;
  --min-height-screen: 900px;
  --max-width-mobile: 375px;
  --min-height-mobile: 1966px;

  --col-size: 65px;
  --row-size: 60px;
  --col-gap: 30px;
  --row-gap: 12px;
  
  --top-left-margin-top: 164px;
  --top-left-margin-left: 165px;

  /* thumbnail photos */
  --img-height: 28px;
  --img-width: 28px;
  
}

/* media queries */
/* desktop display */
@media screen and (min-width: 376px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, var(--col-size));
    column-gap: var(--col-gap);
    row-gap: var(--row-gap);
    margin-left: var(--top-left-margin-left);
    margin-top: var(--top-left-margin-top);

    grid-template-areas:
      "c1 c1 c1 c1 c1 c1 c2 c2 c2 c3 c3 c3"
      "c1 c1 c1 c1 c1 c1 c2 c2 c2 c3 c3 c3"
      "c1 c1 c1 c1 c1 c1 c2 c2 c2 c3 c3 c3"
      "c1 c1 c1 c1 c1 c1 c2 c2 c2 c3 c3 c3"
      "c4 c4 c4 c5 c5 c5 c5 c5 c5 c3 c3 c3"
      "c4 c4 c4 c5 c5 c5 c5 c5 c5 c3 c3 c3"
      "c4 c4 c4 c5 c5 c5 c5 c5 c5 c3 c3 c3";
  }

  .main {
    width: 1440px;
    margin: 0 auto;
  }
  
  
  .card-1 {
    grid-area: c1;
  }
  
  .card-2 {
    grid-area: c2;
  }
  
  .card-3 {
    grid-area: c3;
  }
  
  .card-4 {
    grid-area: c4;
  }
  
  .card-5 {
    grid-area: c5;
  }
}

/* mobile display */
@media screen and (max-width: 375px) {
  .card {
    margin-bottom: 24px;
    width: 327px;
    padding-bottom: 24px;
  }

  .container {
    width: 329px;
    margin: 0 auto 24px;
  }
}

/* start of generic styling */

/* body */
body {
  background-color: var(--clr-neutral-grayblue);
}

/* images */
img {
  height: var(--img-height);
  width: var(--img-width);
  border-radius: 50%;
  padding: 0;
}

.card {
  border-radius: 10px;
  padding-left: 32px;
  padding-right: 32px
}

.card-1 {
  background-color: var(--clr-primary-violet);
  color: var(--clr-primary-white);
}

.card-2 {
  background-color: var(--clr-primary-greyblue);
  color: var(--clr-primary-white);
}

.card-3 {
  background-color: var(--clr-primary-white);
  color: var(--clr-neutral-grayblue);
}

.card-4 {
  background-color: var(--clr-primary-white);
  color: var(--clr-neutral-grayblue);
}

.card-5 {
  background-color: var(--clr-primary-blackblue);
  color: var(--clr-primary-white);
}

.card-1, .card-2, .card-5 {
  img {
    border: 3px solid var(--clr-accent-violet);
  }
}


.card-1, .card-2, .card-5 {
  .author {
    color: var(--clr-primary-white);
  }
  .status {
    color: var(--clr-primary-white-50);
  }
  .testi-head {
    color: var(--clr-primary-white);
  }
  .testi-text {
    color: var(--clr-primary-white-70);
  }   
}

.card-3, .card-4 {
  .author {
    color: var(--clr-primary-blackblue-50);
  }
  .status {
    color: var(--clr-primary-blackblue-70);
  }
  .testi-head {
    color: var(--clr-primary-blackblue);
  }
  .testi-text {
    color: var(--clr-primary-blackblue-70);
  }
}

.author, .status, .textbox {
  width: fit-content;
  padding: 0;
}

.testi-head {
  font-size: 1.5rem;
  font-weight: var(--fw-600);
  padding-bottom: 1.5rem;
}  

.testi-text {
  font-size: 1rem;
  line-height: 18px;
}  

.author {
  font-size: 1rem;
}

.status {
  font-size: 0.846rem;
}

.authorbox {
  display: grid;
  grid-template-columns: 40px 2fr;
}

/* provided by challenge */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
